$marketing-site-three-up-width: 900px;
$marketing-site-three-up-background-color: #2A74ED;

.marketing-site-three-up {
  background-color: $marketing-site-three-up-background-color;
  text-align: left;
  padding: 150px 0;
  
  &.third {
    background-color: #ECECEC;
    .marketing-site-three-up-title, .marketing-site-three-up-desc {
      color: #000000;
    }
  }


  .row {
    max-width: $marketing-site-three-up-width;
  }

  .columns {
    margin-bottom: 1rem;

    @media screen and (min-width: 40em) {
      margin-bottom: 0;
    }
  }
  
  img {
    width: 100%;
  }

  .marketing-site-three-up-title {
    margin: 1rem 0;
    font-size: 70px;
    font-weight: 100;
    line-height: 77px;
    color: $white;
  }

  .marketing-site-three-up-desc {
    font-weight: 100;
    font-size: 25px;
    color: $white;
  }
  
}

