<div id="team" class="marketing-site-features">
    <h2 class="marketing-site-features-headline">OUR TEAM</h2>
    <p class="marketing-site-features-subheadline subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit quaerat eos words and phrases.</p>
    <div class="row medium-unstack">
        <div class="small-12 medium-3 columns">
            <img src="{{root}}assets/img/team/john.png">
            <h4 class="marketing-site-features-title">John SNOW<br><a href="https://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h4>
        </div>
        <div class="small-12 medium-3 columns">
            <img src="{{root}}assets/img/team/adam.png">
            <h4 class="marketing-site-features-title">Adam SMITH<br><a href="https://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h4>
        </div>
        <div class="small-12 medium-3 columns">
            <img src="{{root}}assets/img/team/kevi.png">
            <h4 class="marketing-site-features-title">Kevi LASSY<br><a href="https://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h4>
        </div>
        <div class="small-12 medium-3 columns">
            <img src="{{root}}assets/img/team/vicky.png">
            <h4 class="marketing-site-features-title">Vicky BARCELONA<br><a href="https://linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h4>
        </div>
    </div>
</div>
