<div id="home" class="hero-section">
    <div class="hero-section-text">
        <div style="width:60%;" class="row">
            <div class="small-12 medium-12 columns">
                <a style="color:#616161;font-size:18px;zoom: 545%;opacity: 0.5;" class="topbar-responsive-logo" href="#">ER<span style="color:red;font-size:20px;">&#x25CF;</span>S &nbsp; Pr<span style="color:red;font-size:20px;">&#x25CF;</span>t<span style="color:red;font-size:20px;">&#x25CF;</span>col</a>

                <div class="card-user-profile-content card-section">
                    <div class="card-user-profile-avatar">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABdklEQVR4Xu2aIXICQRBF2TsgOAuGqqhYrsAJoiMQCDQqkiOAxWJyA+6QM8SE4gD0E7+6WMjDTtE72/P/69mZHt4uh79J8Tstfqrh0Y+9n2flHAcToAK0gAwQglaB+xl4+TL4O/0qGUCFnurs/LilEOX49/KzHE8XaDABKkALyICEUkIQvrasAmMvg/Q5nNjj9t+0TpPF0vnheUD6ABMQniipAIBsqlAtIAThTDCVmBAcOwTTz2FSSErxVEE0v/g8gB5gAsIypgJChpBCtYAQDM8ESWJC8NkhmK4gKaR7nKoIQtAEhBLuXmGKrwJgH6EFaB8gA2RA3WZGEHr0eAxBeoHNxz6636f4dLO03q0oRN0nSAyg6CZABWgBGVBlgJqciDFCEK7XrQLdZZC2wiTRbgtQ/HgjZALCHiBaoRSCFF8FdJ8HyAAoUyRRLQAZSBUmA4gBaYsMZZjKKFmgO37cJNU9we74JkALhF1i3RLtjq8FtMA/t8AVshPkKEwjiUgAAAAASUVORK5CYII=" alt="ETHPool Miner Profile" />
                        <h3 class="card-user-profile-name ellipsis">
                            9ada54831bc8c5284206d3000448a77a46f74d82
                            <p><span class="credits">CREDITS: </span>Ξ 377.828976987</p>
                        </h3>
                    </div>
                </div>
                
                <ul class="tabs" data-tabs id="buy-sell-tabs">
                    <li class="tabs-title is-active"><a href="#buy" aria-selected="true">Buy</a></li>
                    <li class="tabs-title"><a href="#sell">Sell</a></li>
                </ul>
                <div class="tabs-content eros" data-tabs-content="buy-sell-tabs">
                    <div class="tabs-panel is-active" id="buy">
                        <div class="input-group">
                            <span class="input-group-label">ETH</span>
                            <input id="amountBuy" autofocus class="input-group-field" step=".1" min="0" placeholder="Amount to buy" type="number">
                        </div>

                        <div class="input-group">
                            <span class="input-group-label">SAI</span>
                            <input id="price" class="input-group-field" step=".1" min="0" placeholder="Price to pay" type="number">
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <div class="input-group"  style="margin-right:0">
                                    <span style="border-color: #999" class="input-group-label">Lifespan</span>
                                    <input id="ttl" class="input-group-field" step=".1" min="0" placeholder="in minutes" type="number">
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="input-group"  style="margin-left:0;display:flex;">
                                    <select>
                                        <option value="eth">ETH</option>
                                        <option value="btc">BTC</option>
                                        <option value="xmr">XMR</option>
                                        <option value="etc">ETC</option>
                                        <option value="btc">LTC</option>
                                        <option value="xmr">GAME</option>
                                        <option value="etc">DFN</option>
                                        <option value="etc">ZEC</option>
                                    </select>
                                    <input id="feeBuy" class="input-group-field" step=".1" min="0" placeholder="max fee" type="number">
                                </div>
                            </div>
                        </div>
                        
                        <input id="broadcastBuy" data-open="exampleModal1" type="submit" width="100%" class="button expanded" value="Broadcast">
                    </div>
                    <div class="tabs-panel" id="sell">
                        <div class="input-group">
                            <span class="input-group-label">ETH</span>
                            <input id="amountSell" autofocus class="input-group-field" step=".1" min="0" placeholder="Amount to sell" type="number">
                        </div>

                        <div class="input-group">
                            <span class="input-group-label">SAI</span>
                            <input id="pricePay" class="input-group-field" step=".1" min="0" placeholder="Price to pay" type="number">
                        </div>

                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <div class="input-group" style="margin-right:0">
                                    <span style="border-color: #999" class="input-group-label">Lifespan</span>
                                    <input id="ttl2" class="input-group-field" step=".1" min="0" placeholder="in minutes" type="number">
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="input-group" style="margin-left:0">
                                    <span style="border-color: #999" class="input-group-label">Fee</span>
                                    <input id="feeSell" class="input-group-field" step=".1" min="0" placeholder="max fee" type="number">
                                </div>
                            </div>
                        </div>
                        <input id="broadcastSell" data-open="exampleModal1" type="submit" width="100%" class="button expanded round" value="Broadcast">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display:flex;justify-content: center; flex-direction: column; " class="reveal" id="exampleModal1" data-reveal>
    <h1 style="text-align: center;">Awesome. <br>It's whispering.</h1>
    <img style="margin:0 auto;" src="assets/img/spinner.gif">
    <p style="color: forestgreen; text-align: center;">Propagating order, please stand by.</p>
    <div data-open="exampleModal2" data-close class="button">fake order completion.</div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div style="display:flex;justify-content: center; flex-direction: column;" class="reveal" id="exampleModal2" data-reveal>
    <h1 style="text-align: center;">Done. Ready. Voilá.</h1>
    <p style="color: forestgreen; text-align: center;">Your order is now fulfilled.</p>
    <div data-close aria-label="Close modal" class="button expanded">Close</div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
